.button {
  height: 56px;
  width: 90px;
  border-radius: 4px;
}
.button-primary {
  color: white;
  background: #0075C9;
  border-radius: 4px;
}
.button-secondary {
  color: #333;
  background-color: transparent;
}
.button-small {
  font-size: 12px;
  padding: 10px 16px;
}
.button-regular {
  font-size: 14px;
  padding: 11px 20px;
}