.card {
  border: solid #a6a6a6 1.5px;
  border-radius: 2px;
  height: 50px;
  position: relative;
}

.primary {
  width: 150px;
  padding: 10px;
}

.small {
  height: 25px;
  width: 75px;
}

.big {
  height: 100px;
  width: 300px;
}

.left {
  position: absolute;
  left: 10px;
}

.right {
  position: absolute;
  right: 10px;
}
