@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.App{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  font-family: 'Roboto', sans-serif;
  margin: 60px 40px 60px;
}

.table {
  margin: 43px 40px 80px;
}