@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  padding: 60px 40px 60px;
  min-height: 100vh;
  background: #fff;
}

.table {
  margin: 43px 0 80px;
}
.title {
  padding: 40px 0;
}

.homepageImg {
  height: 161px;
  width: 253px;
}

.dashboardDiv1 {
  border: 1px solid pink;
}
.dashbordDiv2 {
  max-height: 375px;
  padding: 40px 16px 0 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  min-height: 375px;
}
.dashboardTable {
  margin-top: 27px;
}
.dashbordDiv3 {
  padding: 40px 0 16px 23px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  min-height: 375px;
}
.dashbordDiv4 {
}

button {
  margin: 5px;
}

.ant-table-thead {
  background-color: #e6f1fa !important;
}

th {
  background-color: #e6f1fa !important;
  color: #737b81 !important;
}

.reportDiv1 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  min-height: 200px;
}

.reportDiv2 {
  padding: 40px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;
  min-height: 200px;
}

.settings-block {
  border: 1px solid #e0e0e0;
  margin: 15px;
}

.settings-block-content {
  margin: 15px;
}

.settings-block-content > a {
  position: relative;
}

.checkboxes {
  display: flex;
}

progress {
  -webkit-appearance: none;
  width: 300px;
  height: 24px;
  padding-top: 15px;
  border-radius: 4px;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background: #E6F1FA;
  border-radius: 4px;
}
progress::-webkit-progress-value {
  -webkit-appearance: none;
  background: #4483ca;
  border-radius: 4px;
}
