@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.App{
  font-family: 'Roboto', sans-serif;
  padding: 0px 40px 60px;
  min-height: 100vh;
  background: #fff;

}
.table {
  margin: 43px 0 80px;
}
.title {
  padding: 40px 0;
}

.homepageImg {
  height: 161px;
  width: 253px;
}

  .dashboardDiv1 { 
    border: 1px solid pink; 
  }
  .dashbordDiv2 { 
    max-height: 375px;
    padding: 40px 16px 0 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    min-height: 375px; 
  }
  .dashboardTable{
    margin-top: 27px;
  }
  .dashbordDiv3 { 
    padding: 40px 0 16px 23px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    min-height: 375px;  
  }
  .dashbordDiv4 { 
    margin: 40px 0;
  }

  button {
    margin: 5px;
  }

  .ant-table-thead {
    background-color: #E6F1FA !important;
  }

  th {
    background-color: #E6F1FA !important;
    color: #737B81 !important;
  }

  .ant-tabs-tab {
    color: #333E48;
    font-size: 16px !important;
    font-weight: 500;
  }

  .ant-tabs-tab:hover {
    color: #0075C9 !important;
}

  
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0075C9 !important;
  }