.show {
    display: block;
}

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;
    z-index: 1;
  }
  
  .modal {
    width: 509px;
    height: 503px;
    position: relative;
    margin: 0px auto;
    padding: 16px;
    background-color: #fff;
    border-radius: 2px;
    transform: translateY(30%);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

  .header {
    position: absolute;
    height: 59px;
    left: 1px;
    right: 1px;
    top: 1px;
    background: #EBEEF1;
    display: flex;
    justify-content: center;
  }

  .header > .copy-H4 {
    margin-top: 15px;
  }

  .body {
      display: flex;
      height: 370px;
      /* padding-top: 45px; */
  }

  .buttons {
      display: flex;
      justify-content: space-between;   
  }

  input[type='text'] {
    width: 477px;
    height: 56px;
    border-radius: 4px;
    border-color: #737B81;
  }

  hr {
    width: 477px;
  }
  
  